li {
	list-style: none;
}
.mm-top-logo {
	width: 100%;
	max-width: 85px;
}
.mm-btn {
	padding: 10px 14px;
	border-radius: 4rem;
	border: none;
}
.mm-serch-btn {
	border: none;
	background-color: transparent;
}
.mm-dropdown-toggle::after {
	content: "";
	background-image: url('../img/chevron-down-solid.svg');
	background-repeat: no-repeat;
	padding: 5px;
	display: inline-block;
	margin-left: 0.255em;
	vertical-align: center;
}
.header-banner {
	background-image: url("../img/jumbo-bg.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	padding-top: 330px ;
	padding-bottom:70px ;
}
.midle-banner {
	background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	padding-top: 330px ;
	padding-bottom:70px ;
}
.mm-img-banner-list {
	width: 100%;
	max-width: 200px;
	border-radius: 0.8rem;
	padding: 2px;
	border: 2px solid #0072CE;
}
.mm-img-device {
	width: 100%;
	padding: 2px;
}
.mm-img-device-list {
	width: 70%;
	padding: 2px;
}
.mm-hover-line {
	border-bottom: 2px solid transparent ;
	opacity: 0.6;
	transition: linear 0.2s;
}
.mm-hover-line:hover {
	border-bottom: 2px solid #0072CE ;
	opacity: 1;
}
/* COLORS */
.mm-bg-1 {
	background-color: #363636;
}
.mm-bg-2 {
	background-color: #CD3D0F;
}
/* TEXT COLORS */
.mm-t-1 {
	color: #0072CE;
}