ul,li {
	list-style: none;
	padding: 0;
}
a {
	text-decoration: none;
}

.mm-serch-btn {
	border: none;
	background-color: transparent;
}

.mm-dropdown-toggle::after {
	content: "";
	background-image: url('../img/chevron-down-solid.svg');
	background-repeat: no-repeat;
	padding: 5px;
	display: inline-block;
	margin-left: 0.255em;
	vertical-align: center;
	
}

.mm-top-logo {
	width: 100%;
	max-width: 85px;
}
.header-banner {
	background-image: url("../img/jumbo-bg.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	padding-top: 200px;
	min-height: 480px;
	padding-bottom: 20px;
	overflow: hidden;
} 
.midle-banner {
	background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 45px 0 30px 0;
}
.navbar-light .navbar-nav .nav-link {
	color: black;
	transition: linear 0.2s;

}
.navbar-light .navbar-nav .nav-link:hover {
	color: blue;
}
.mm-img-banner-list {
	width: 100%;
	max-width: 200px;
	border-radius: 0.8rem;
	padding: 3px;
	border: 3px solid transparent;
	transition: linear 0.2s;
}

.mm-img-banner-list:hover {
	transform: translatey(-5px);
	border: 3px solid #0072CE;

}
.mm-img-device-list {
	width: 70%;
	padding: 2px;
}
.mm-hover-line {
	border-bottom: 2px solid transparent ;
	opacity: 0.6;
	transition: linear 0.2s;
}
.mm-hover-line:hover {
	border-bottom: 2px solid #0072CE ;
	opacity: 1;
}
.mm-nav {
	margin-top: 102px;
}

.mm-mb-img {
	min-width: 240px;
}
.mm-mw-650 {
	max-width: 650px;
}
.mm-mw-450 {
	max-width: 450px;
}
.social-img {
	max-width: 120px;
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	transition: 0.1s linear;
	cursor: pointer;
}
.social-img:hover {
	box-shadow: 0px 5px 10px 5px rgba(34, 60, 80, 0.2);
	transform: scale(1.06);
}
.mm-game-h {
	transition: linear 0.2s;
}
.mm-game-h:hover {
	transform:translatey(-7px);
}
/* COLORS */
.mm-bg-1 {
	background-color: #363636;
}
.mm-bg-2 {
	background-color: #CD3D0F;
}
.mm-bg-3 {
	background-color: #1F1F1F;
}
.mm-bg-4 {
	background-color: #BEBCBB;
}
.mm-bg-5 {
	background-color: #161C3B;
}
.mm-bg-6 {
	background-color: #00439C;
}


/* BUTONS */
.mm-btn-v2 {
	padding: 4px 8px;
	border-radius: 4rem;
	border: none;
	border: 3px solid transparent;
	position: relative;
}
/* buton v2. beta */
.mm-btn-v2:before {
	content: " ";
	position: absolute;
	z-index: 5	;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border: 3px solid transparent;
	transition: all linear 0.2s;
	border-radius: 4rem;
}
.mm-btn-v2:hover.mm-btn-v2:before {
	border: 3px solid #fff;

}

.mm-btn {
	padding: 4px 8px;
	border-radius: 4rem;
	border: none;
	transition: linear 0.2s;
	border: 3px solid transparent;
	margin: 4px;
}

.mm-btn:hover {
	border: 3px solid #ffffff ;
}
.mm-btn-1 {
	box-shadow: 0 0 0 2px #363636;
}
.mm-btn-2 {
	box-shadow: 0 0 0 2px #CD3D0F;
}
.mm-btn-3 {
	box-shadow: 0 0 0 2px #0d6efd;
}
.mm-btn-4 {
	box-shadow: 0 0 0 2px #f0f0f0;
}
.mm-btn-4:hover {
	transition:  linear 0.2s;
	border: 3px solid #3484fa ;
}
.mm-btn-5 {
	box-shadow: 0 0 0 2px #f0f0f0;
	
}
.mm-btn-5:hover {
	transition:  linear 0.2s;
	border: 3px solid #050505 ;
}
.mm-hb-img {
	max-width: 240px;
}
.mm-animation {
	animation: move-txt 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	position: relative;
}
@keyframes move-txt {
	0%   {
			opacity: 0;
			transform: translatey(0px);
	}

	35%  {	
			opacity: .3;
			transform: translatey(40px);
			}


	75% {	
			opacity: .7;
			transform: translatey(-20px);
		}

	100% {	
			opacity: 1;
			transform: translatey(0);
		}
	