ul,li {
	list-style: none;
	padding: 0;
}
a {
	text-decoration: none;
}
.mm-top-logo {
	width: 100%;
	max-width: 85px;
}
.mm-btn {
	padding: 10px 14px;
	border-radius: 4rem;
	border: none;
	transition: linear 0.2s;
}
.mm-btn:hover {
	opacity: 0.7;
	transition:  linear 0.2s;
}
.mm-serch-btn {
	border: none;
	background-color: transparent;
}
.mm-dropdown-toggle::after {
	content: "";
	background-image: url('../img/chevron-down-solid.svg');
	background-repeat: no-repeat;
	padding: 5px;
	display: inline-block;
	margin-left: 0.255em;
	vertical-align: center;
	
}

.header-banner {
	background-image: url("../img/jumbo-bg.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	padding-top: 230px;
	max-height: 590px;
	padding-bottom: 50px;
}
.midle-banner {
	background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 45px 0 30px 0;
}
.mm-img-banner-list {
	width: 100%;
	max-width: 200px;
	border-radius: 0.8rem;
	padding: 3px;
	border: 3px solid transparent;
	transition: linear 0.2s;
}
.mm-img-banner-list:hover {
	border: 3px solid #0072CE;
}

.mm-img-device-list {
	width: 70%;
	padding: 2px;
}
.mm-hover-line {
	border-bottom: 2px solid transparent ;
	opacity: 0.6;
	transition: linear 0.2s;
}
.mm-hover-line:hover {
	border-bottom: 2px solid #0072CE ;
	opacity: 1;
}

.mm-hb-img {
	max-width: 240px;
}
.mm-mb-img {
	min-width: 240px;
}
.mm-mw-650 {
	max-width: 650px;
}
.mm-mw-450 {
	max-width: 450px;
}
.social-img {
	max-width: 120px;
}


/* COLORS */
.mm-bg-1 {
	background-color: #363636;
}
.mm-bg-2 {
	background-color: #CD3D0F;
}
.mm-bg-3 {
	background-color: #1F1F1F;
}
.mm-bg-4 {
	background-color: #BEBCBB;
}
.mm-bg-5 {
	background-color: #161C3B;
}
.mm-bg-6 {
	background-color: #00439C;
}


